<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chuck Norris Jokes</title>

    <link rel="stylesheet" href="./main.css">

  </head>
  <body>

  <div class = "neon-title" >Chuck Norris Jokes </div>
  <div class = "neon-jokes" ><%= @random_joke.joke %> </div>

<div class = "btn-box">
  <font size="5">

  <button class = "neon-submit" type="submit" name="button" onClick="window.location.reload()" value = "Jokes">Jokes</button>
</font>
</div>
  </body>
</html>
