/* @font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

body {
  font-family: neon;
  margin: 0 auto;
  /* background-color: #858585;
}

h1 {
  padding: 0% 0%;
   color: black;
   text-align: center;
}

h3 {
  padding: 2%;
  font-weight: normal;

} */
